body {
  background-color: #EAF6F6;
}

.myimg {
  height: 150px;
  width: 150px;
  border-radius: 100%;
}
hr {
  /* background-color: white; */
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 10px;
  /* height: 5px; */
  width: 10%;
}
